<!DOCTYPE html>
<html>
<head>
    <title>Charts</title>
    <script src="{{ url_for('static', filename='/Chart_Scripts.js') }}"></script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
</head>

<header class="display-2">Charts</header>
<form action="/">
    <button type="submit" name=back value="back">Back</button>
</form>
<!--Generating Chart into backend server-->
<!--input type="hidden" id="barName" name="graphName" value="barChartName" -->
<button onclick="screenshot()">Screenshot</button>

<!--Download Chart to local user-->
<!-- button type="submit" form="downloadDash">Download</button -->
<form id="downloadDash" action="/dashboard/"></form>


<body id="dashboard">
    <!-- Create a canvas element for the chart -->
    <div style="float: left; height: 500px; width: 500px">
        <h2>Bar Chart</h2>
        <canvas id="BarChart" width="450" height="300" style=" margin: auto"></canvas>

        <!--Generating Chart into backend server-->
        <input type="hidden" id="barName" name="graphName" value="barChartName">
        <button name="graphBase64" onclick="sendBar()">Generate PNG</button>
        
        <!--Download Chart to local user-->
        <button type="submit" form="downloadBar">Download</button>
        <form id="downloadBar" action="/dashboard/barChartName.png"></form>
        
            
        
        
        <!--Bar Chart Ideas
        <h3>Rainfall frequency - Show rain fall through the month/year</h3>
        <h3>Rainfall - Show rain fall through the month/year</h3>
        -->
    </div>
    <div style="float: right; height: 500px; width: 500px">
        <h2>Line Chart</h2>
        <canvas id="LineChart" width="450" height="300" style=" margin: auto"></canvas>

        <!--Generating Chart into backend server-->
        <input type="hidden" id="lineName" name="graphName" value="lineChartName">
        <button name="graphBase64" onclick="sendLine()">Generate PNG</button>

        <!--Download Chart to local user-->
        <button type="submit" formaction="/dashboard/lineChartName.png" >Download</button>
        <form id="downloadBar" action="/dashboard/barChartName.png"></form>
        <!--Line Chart Ideas
        <h3>Temperature trend through the month or year</h3>
        <h3>Humidity through the month or year</h3>
        <h3>Rainfall - Show rain fall through the month/year</h3>
        -->
    </div>
    <div>
        <!-- Combination of Line and Bar Chart ideas
        <h2>Line + Bar Chart</h2>
        <h3>Rainfall: bar is amount of rainfall and line is frequency - Show rain fall through the month/year</h3>
        <h3>Humidity through the month or year</h3>
        -->
    </div>
    <div>
        <!-- Box Plot ideas
        <h2>Box Plot</h2>
        <h3>Rainfall - Show rain fall through the month/year</h3>
        <h3>Humidity through the month or year</h3>
        -->
    </div>
    <div>
        <!-- Heatmap ideas 
        <h2>Heatmap</h2>
        <h3>Rainfall - Show which area rain the most</h3>
        <h3>Temperature - Show which area got higher temperature</h3>
        -->
    </div>
    <div>
        <!-- Scatter Plot ideas
        <h2>Scatter Plot</h2>
        <h3>Humidity vs Temperature - Show relation between humidity and temperature </h3>
        -->
    </div>

    
    <script>
        //Using the data parsed from the controller side app.py chartLabel & chartValue
        createBarChart({{ chartValue|tojson|safe }}, {{ chartLabel|tojson|safe }});
        createLineChart({{ lineValue|tojson|safe }}, {{ lineLabel|tojson|safe }});
    </script>
</body>
</html>
