<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="{{ url_for('static', filename='/Chart_Scripts.js') }}"></script>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- bootstrap stuff -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
</head>

<header class="display-2">Dashboard</header>
<form action="/">
    <button type="submit" name=back value="back">Back</button>
</form></br>

<!--Generate and Download Screenshot buttons-->
<button onclick="screenshot()">Generate Screenshot</button>
<button type="submit" form="downloadDash">Download Screenshot</button>
<form id="downloadDash" action="/dashboard/dashboardName.png"></form></br></br>




<body id="dashboard">
    <!-- Create a canvas element for the bar chart -->
    <div style="height: 500px; width: 500px">
        <canvas id="BarChart" width="450" height="300" style=" margin: auto"></canvas>

        <!--Generating Chart into backend server-->
        <input type="hidden" id="barName" name="graphName" value="barChartName">
        <button name="graphBase64" onclick="sendBar()">Generate PNG</button>
        
        <!--Download Chart to local user-->
        <button type="submit" name="graphBase64" form="downloadBar">Download</button>
        <form id="downloadBar" action="/dashboard/barChartName.png"></form>
        
        <!--Bar Chart Ideas
        <h3>Rainfall frequency - Show rain fall through the month/year</h3>
        <h3>Rainfall - Show rain fall through the month/year</h3>
        -->
    </div>

    <!--Top Row-->
    <div style="float: left; height: 500px; width: 500px">
        <!--North Region Line Charts-->
        <div id="regionNorth" >
            <h2>North Region Weather Data</h2>

            <canvas id="northJune" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="northJuneWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/northJuneWeatherData.png"></form></br></br>

            <canvas id="northJuly" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="northJulyWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/northJulyWeatherData.png"></form></br></br>

            <canvas id="northAug" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="northAugWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/northAugWeatherData.png"></form></br></br>
        </div>

        <!--South Region Line Charts-->
        <div id="regionSouth" >
            <h2>South Region Weather Data</h2>

            <canvas id="southJune" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="southJuneWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/southJuneWeatherData.png"></form></br></br>

            <canvas id="southJuly" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="southJulyWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/southJulyWeatherData.png"></form></br></br>

            <canvas id="southAug" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="southAugWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/southAugWeatherData.png"></form></br></br>
        </div>
    </div>

    
    <!--Bottom Row-->
    <div  style="float: right; height: 500px; width: 500px">
        <!--Central Region Line Charts-->
        <div id="regionCentral">
            <h2>Central Region Weather Data</h2>

            <canvas id="centralJune" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="centralJuneWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/centralJuneWeatherData.png"></form></br></br>

            <canvas id="centralJuly" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="centralJulyWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/centralJulyWeatherData.png"></form></br></br>

            <canvas id="centralAug" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="centralAugWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/centralAugWeatherData.png"></form></br></br>
        </div>

        
        <!--East Region Line Charts-->
        <div id="regionEast">
            <h2>East Region Weather Data</h2>

            <canvas id="eastJune" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="eastJuneWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/eastJuneWeatherData.png"></form></br></br>

            <canvas id="eastJuly" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="eastJulyWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/eastJulyWeatherData.png"></form></br></br>

            <canvas id="eastAug" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="eastAugWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/eastAugWeatherData.png"></form></br></br>
        </div>


        <!--West Region Line Charts-->
        <div id="regionWest">
            <h2>West Region Weather Data</h2>

            <canvas id="westJune" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="westJuneWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/westJuneWeatherData.png"></form></br></br>

            <canvas id="westJuly" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="westJulyWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/westJuneWeatherData.png"></form></br></br>

            <canvas id="westAug" width="450" height="300" style=" margin: auto"></canvas>
            <!--Generating Chart into backend server-->
            <input type="hidden" id="lineName" name="graphName" value="westAugWeatherData">
            <button name="graphBase64" onclick="sendLine()">Generate PNG</button>
            <!--Download Chart to local user-->
            <button type="submit" form="downloadLine" >Download</button>
            <form id="downloadLine" action="/dashboard/westJuneWeatherData.png"></form></br></br>
        </div>
    </div>

    
    <script>
        //Using the data parsed from the controller side app.py chartLabel & chartValue
        createBarChart({{ chartTitle|tojson|safe }}, {{ chartValue|tojson|safe }}, {{ chartLabel|tojson|safe }});

        createLineChart({{ lineTitleNorth|tojson|safe }}, {{ lineValueNorth|tojson|safe }}, {{ lineLabelNorth|tojson|safe }}, {{ canvasNorth|tojson|safe }})
        createLineChart({{ lineTitleSouth|tojson|safe }}, {{ lineValueSouth|tojson|safe }}, {{ lineLabelSouth|tojson|safe }}, {{ canvasSouth|tojson|safe }})
        createLineChart({{ lineTitleCentral|tojson|safe }}, {{ lineValueCentral|tojson|safe }}, {{ lineLabelCentral|tojson|safe }}, {{ canvasCentral|tojson|safe }})
        createLineChart({{ lineTitleEast|tojson|safe }}, {{ lineValueEast|tojson|safe }}, {{ lineLabelEast|tojson|safe }}, {{ canvasEast|tojson|safe }})
        createLineChart({{ lineTitleWest|tojson|safe }}, {{ lineValueWest|tojson|safe }}, {{ lineLabelWest|tojson|safe }}, {{ canvasWest|tojson|safe }})
        
        
    </script>
</body>
</html>
